@model Shareholder

<form asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Name</label>
        <input asp-for="Name" class="form-control" />
    </div>
    <div class="form-group">
        <label>Name</label>
        <select asp-for="Gender" class="form-control">
            <option value="M"> Male </option>
            <option value="F"> Female </option>
        </select>
    </div>
    <div class="form-group">
        <label>Nationality</label>
        <input asp-for="Nationality" class="form-control" />
    </div>
    <div class="form-group">
        <label>Date Of Birth</label>
        <input type="date" asp-for="DateOfBirth" class="date-picker" />
    </div>
    <!-- Other input fields as per the Shareholder model -->

    <div class="form-group">
        <label>Photo</label>
        <input type="file" asp-for="Photo" class="form-control-file" />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
